*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid blue; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home-container {
    /* text-align: left; */
    /* margin: 0px auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* .home-h1 {
    margin-bottom: 5px;
    text-align: center;
} */

ol {
    /* margin: 0px auto;
    text-align: center; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.recipe-title {
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

img {
    margin: 0px auto 10px;
    height: 10rem;
    width: 15rem;
}