*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid blue; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Section */

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lhs_header {
    display: flex;
    flex-direction: column;
}

.lhs-top {
    display: flex;
    align-items: center;
}

.lhs-bottom-ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    list-style: none;
    font-size: 0.85rem;
}

/* Recipe Section */

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

ol {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.home-ol-names h4 {
    width: 15rem;
    text-align: center;
}

.recipe-img {
    margin: 0px auto 10px;
    height: 10rem;
    width: 15rem;
}