*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    outline: 1px solid blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Section */

.header_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 0rem 10rem;
    box-shadow: 0px 2px 2px lightgrey;
}

.lhs_header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.lhs-top {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#logo {
    height: 3rem;
    width: auto;
}

.lhs-bottom-ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    list-style: none;
    font-size: 0.85rem;
}

.rhs_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rhs-top-ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    list-style: none;
    font-size: 0.85rem;
}

.rhs-bottom-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.thumbnails-home {
    height: 2rem;
    width: auto;
    flex-grow: 1;
}

/* Recipe Section */

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

ol {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.home-ol-names h4 {
    width: 15rem;
    text-align: center;
}

.recipe-img {
    margin: 0px auto 10px;
    height: 10rem;
    width: 15rem;
}